*{
  margin: 0;
  padding: 0;
  position: absolute;
  transition: 500ms;
}
body{
  background-color: black;
}
.p1{
  color: white;
  font-size: 100px;
  font-weight: 600;
  margin-top: -20px;
  width: 1440px;
  text-align: center;
  height: 150px;
  padding-top: 50px;
}
.p2{
  color: white;
  font-size: 40px;
  width: 1440px;
  text-align: center;
  margin-top: 150px;
  height: 90px;
  padding-top: 50px;
}
.p3{
  color: white;
  font-size: 20px;
  left: 100px;
  width: 1240px;
  text-align: center;
  margin-top: 300px;
  z-index: 0;
  line-height: 2;
}
.p4{
  color: white;
  font-size: 40px;
  width: 1440px;
  text-align: center;
  margin-top: 750px;
  height: 90px;
  padding-top: 50px;
}
.p5{
  color: white;
  font-size: 20px;
  left: 100px;
  width: 1240px;
  text-align: center;
  margin-top: 900px;
  z-index: 0;
  line-height: 2;
}
.p6{
  color: white;
  font-size: 40px;
  width: 1440px;
  text-align: center;
  margin-top: 1400px;
  height: 90px;
  padding-top: 50px;
}
.p7{
  color: white;
  font-size: 40px;
  width: 1440px;
  text-align: center;
  margin-top: 2580px;
  height: 90px;
  padding-top: 50px;
}
.img1{
  transform: rotateY( 180deg );
  left: 950px;
  height: 1000px;
  margin-top: 100px;
  opacity: 0.5;
  z-index: -1;
}
.img2{
  transform: rotateY( 180deg );
  left: 0px;
  height: 1000px;
  margin-top: 800px;
  opacity: 0.5;
  z-index: -1;
}
.header1{
  color: white;
  font-size: 30px;
  width: 100px;
  text-align: center;
  position: fixed;
  height: 50px;
  background-color: black;
  z-index: 1;
  opacity: 0.9;
  transition: 500ms;
}
.header1:hover{
  z-index: 3;
  font-size: 35px;
}
.header2{
  color: white;
  font-size: 30px;
  width: 300px;
  left: 100px;
  text-align: center;
  position: fixed;
  height: 50px;
  background-color: black;
  z-index: 1;
  opacity: 0.9;
  transition: 500ms;
}
.header2:hover{
  z-index: 3;
  font-size: 35px;
  left: 85px;
  width: 320px;
}
.header3{
  color: white;
  font-size: 30px;
  width: 350px;
  left: 400px;
  text-align: center;
  position: fixed;
  height: 50px;
  background-color: black;
  z-index: 1;
  opacity: 0.9;
  transition: 500ms;
}
.header3:hover{
  z-index: 3;
  font-size: 35px;
  width: 375px;
  left: 390px;
}
.header4{
  color: white;
  font-size: 30px;
  width: 360px;
  left: 750px;
  text-align: center;
  position: fixed;
  height: 50px;
  background-color: black;
  z-index: 1;
  opacity: 0.9;
  transition: 500ms;
}
.header4:hover{
  z-index: 3;
  font-size: 35px;
  width: 390px;
  left: 735px;
}
.header5{
  color: white;
  font-size: 30px;
  width: 300px;
  left: 1110px;
  text-align: center;
  position: fixed;
  height: 50px;
  background-color: black;
  z-index: 1;
  opacity: 0.9;
  transition: 500ms;
}
.header5:hover{
  z-index: 3;
  font-size: 35px;
  width: 310px;
  left: 1105px;
}
.video1{
  position: fixed;
  z-index: 2;
  border: 0;
  width: 1440px;
  height: 800px;
}
.div1{
  height: 50px;
  width: 200px;
  left: 1220px;
  top: 730px;
  background-color: white;
  z-index: 2;
  text-align: center;
  font-size: 32px;
  border-radius: 50px;
  position: fixed;
  visibility: visible;
}
.loader1{
  height: 800px;
  width: 1440px;
  background-color: black;
  z-index: 3;
  position: fixed;
}
#loader2{
  height: 400px;
  width: 400px;
  top: 200px;
  left: 520px;
  animation: animate 5s linear infinite;
  border: aqua 2px solid;
  border-radius:28% 72% 38% 62% / 15% 64% 36% 85% ;
}
#loader3{
  height: 400px;
  width: 400px;
  top: 200px;
  left: 520px;
  border: aqua 2px solid;
  animation: animate 5s linear infinite;
  animation-direction: reverse;
  border-radius:89% 11% 17% 83% / 76% 10% 90% 24% ;
}
#loader4{
  height: 400px;
  width: 400px;
  top: 200px;
  left: 520px;
  border: aqua 2px solid;
  animation: animate 5s linear infinite;
  animation-delay: 1s;
  border-radius: 28% 72% 38% 62% / 79% 64% 36% 21% ;
}
.loaderP{
  font-size: 32px;
  color: white;
  width: 300px;
  left: 570px;
  top: 380px;
  text-align: center;
}

@keyframes animate{
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}

.img3{
  height: 370px;
  top: 1565px;
  left: 75px;
}
.img3:hover{
  height: 400px;
  top: 1550px;
  left: 60px;
}
.img4{
  height: 370px;
  top: 1565px;
  left: 535px;
}
.img4:hover{
  height: 400px;
  top: 1550px;
  left: 520px;
}
.img5{
  height: 370px;
  top: 1565px;
  left: 995px;
}
.img5:hover{
  height: 400px;
  top: 1550px;
  left: 980px;
}
.img6{
  height: 370px;
  top: 2095px;
  left: 75px;
}
.img6:hover{
  height: 400px;
  top: 2080px;
  left: 60px;
}
.img7{
  height: 370px;
  top: 2095px;
  left: 535px;
}
.img7:hover{
  height: 400px;
  top: 2080px;
  left: 520px;
}
.img8{
  height: 370px;
  top: 2095px;
  left: 995px;
}
.img8:hover{
  height: 400px;
  top: 2080px;
  left: 980px;
}
.character1{
  color: white;
  width: 400px;
  top: 1960px;
  left: 60px;
  text-align: center;
  font-size: 48px;
}
.character2{
  color: white;
  width: 400px;
  top: 1960px;
  left: 520px;
  text-align: center;
  font-size: 48px;
}
.character3{
  color: white;
  width: 400px;
  top: 1960px;
  left: 980px;
  text-align: center;
  font-size: 48px;
}
.character4{
  color: white;
  width: 400px;
  top: 2490px;
  left: 60px;
  text-align: center;
  font-size: 48px;
}
.character5{
  color: white;
  width: 400px;
  top: 2490px;
  left: 520px;
  text-align: center;
  font-size: 48px;
}
.character6{
  color: white;
  width: 400px;
  top: 2490px;
  left: 980px;
  text-align: center;
  font-size: 48px;
}
.gundam1{
  top: 2700px;
  height: 600px;
  left: 520px;
  transition: 500ms;
}
.gundam2{
  top: 2800px;
  height: 400px;
  left: 1020px;
  transition: 500ms;
}
.gundam3{
  top: 2800px;
  height: 400px;
  left: 1020px;
  transition: 500ms;
  opacity: 0;
}
.gundam4{
  top: 2800px;
  height: 400px;
  left: 160px;
  transition: 500ms;
  opacity: 0;
}
.gundam5{
  top: 2800px;
  height: 400px;
  left: 160px;
  transition: 500ms;
  opacity: 0;
}
.gundam6{
  top: 2800px;
  height: 400px;
  left: 160px;
  transition: 500ms;
}
.p8{
  color: white;
  width: 1440px;
  top: 3290px;
  text-align: center;
  font-size: 48px;
  transition: 500ms;
}
.right{
  top: 2950px;
  left: 1370px;
  width: 0;
  height: 0;
  border-top: 50px solid transparent;
  border-left: 50px solid white;
  border-bottom: 50px solid transparent;
}
.left{
  top: 2950px;
  left: 20px;
  width: 0;
  height: 0;
  border-top: 50px solid transparent;
  border-right: 50px solid white;
  border-bottom: 50px solid transparent;
}
.middle{
  top: 3300px;
  left: 1200px;
  width: 200px;
  height: 50px;
  border-radius: 50px;
  text-align: center;
  background-color: white;
  font-size: 32px;
  z-index: 1;
}
.img9{
  height: 50px;
  z-index: 2;
  left: 30px;
}